 
.chat-container {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    height: 88vh;
    background-color: #FFE1FF;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

 
.matches-list {
    width: 100%;
    /* max-width: 600px; */
    background-color: FFE1FF;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    height: 100%;
}

 
.matches-list h3 {
    /* position: fixed; */
    font-size: 24px;
    color: #7E60BF;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: bold;
}

 
.matches-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.matches-list li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(233, 207, 207, 0.897);
    transition: background-color 0.2s ease-in-out;
}

.matches-list li:hover {
    background-color: #f2f2f2;
}
 
.profile-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid #ff6b6b;
}

 
.matches-list li span {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

 
.matches-list p {
    font-size: 18px;
    color: #999;
    margin-top: 20px;
}
