
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE1FF;
    /* border-radius: 15px; */
    padding: 20px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    max-width: 400px;
    margin: 0 auto; /* Center the profile card */
    /* transition: transform 0.3s ease-in-out; */
}

/* Image container with a circular profile image */
.image-container {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Shadow for the image */
}

.profile-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Information container */
.info-container {
    text-align: center;
    margin-top: 15px;
    background-color: #ffffff66;
    padding: 10px;

    border-radius: 20px;
}

/* Name styling */
.name {
    font-size: 24px;
    font-weight: bold;
    color: #7E60BF;
    margin: 10px 0;
}

/* Email styling */
.email {
    font-size: 16px;
    color: #7E60BF;
    margin: 5px 0;
}

.logOut {
    background-color: #7E60BF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.logOut:hover {
    background-color: #6B4A9A;
    scale: 1.01;
}

/* Adding responsive design for smaller screens */
@media (max-width: 768px) {
    .profile-container {
        width: 90%;
        padding: 15px;
    }

    .image-container {
        width: 120px;
        height: 120px;
    }

    .name {
        font-size: 20px;
    }

    .email {
        font-size: 14px;
    }
}


.partner-info {
    margin-top: 30px;
    padding: 10px;

    border-radius: 20px;
    background-color: #ffffff66;
    /* border-radius: 12px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.partner-info h3 {
    color: #00796b;
    font-weight: bold;
}

.partner-info img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}
