.swipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    overflow: hidden;
}

.card {
    width: 350px;
    height: 500px;
    /* background-color: white; */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    top: -8%;
    position: relative;
    background: linear-gradient(to bottom, #433878, #7E60BF);
}

.user-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.user-info{
    margin-left: 0px;
    margin-top: -100px;
    z-index: 10000;
    font-size: 25px;
    color: #433878 !important;
    /* color: #7E60BF; */
}


.action-buttons {
    position: absolute;
    bottom: 2px;
    width: 100%;
    left:-1px;
    display: flex;
    justify-content: space-between;
}
.swipe-right .card {
    transform: translateX(100%) rotate(15deg);
    opacity: 0;
}

.swipe-left .card {
    transform: translateX(-100%) rotate(-15deg);
    opacity: 0;
}

.like-button, .dislike-button , .reversebutton{
    width: 120px;
    height: 60px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.swipe-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    font-weight: bold;
    /* background-color: rgba(0, 0, 0, 0.6); */
    padding: 1rem 2rem;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.swipe-right .swipe-text {
    opacity: 1;
    color: green;
}

.swipe-left .swipe-text {
    opacity: 1;
    color: red;
}

.image-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    top: -2.5%;
    z-index: 2;
}

.dot {
    height: 8px;
    width: 150px;
    margin: 0 5px;
    background-color: #bbb;
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #333;
}


.image-loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);  
    border-top: 4px solid #3498db;  
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

